/* Universal */

body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

nav {
    position: fixed;
    left: 10px;
}

/* Create Page */

.create-page {
    display: block;
    text-align: left;
    font-weight: bolder;
    color: rgb(193, 112, 238);
}

.create-form {
    border: 1px rgb(100, 9, 128) solid;
    border-radius: 15px;
    padding: 5px;
    background: linear-gradient(140deg, rgb(80, 1, 126) 0%, rgb(123, 11, 255) 60%, rgb(194, 42, 110) 100%);
}

.create-form input {
    background: transparent;
    border: #46008c 2px solid;
    border-radius: 10px;
    padding: 2px 0px;
}

.create-button {
    margin-top: 5px;
    background: linear-gradient(180deg, rgba(215, 181, 2, 1) 0%, rgba(205, 145, 43, 1) 95%);
    border: 2px goldenrod solid;
    border-radius: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.create-button:hover {
    background: linear-gradient(180deg, rgba(210, 170, 2, 1) 0%, rgba(200, 140, 43, 1) 55%);
    border: 2px rgb(189, 141, 19) solid;
    border-radius: 15px;
}

/* Index Page */

.tabel {
    display: grid;
    grid-template-columns: 120px 75px 75px 135px;
    grid-auto-rows: 25px;
    background: linear-gradient(140deg, rgb(80, 1, 126) 0%, rgb(123, 11, 255) 60%, rgb(194, 42, 110) 100%);
    border-radius: 15px;
    overflow:hidden;
}

#top-row {
    font-weight: bolder;
    background-color: rgb(75, 59, 89);
    margin-bottom: 2px;
    padding-top: 1px;
    mix-blend-mode: plus-lighter;
}

li {
    color: rgb(241, 197, 255);
    list-style-type: none;
}

ul {
    display: table-row;
}

#bottom-row {
    font-weight: bolder;
    color: rgb(62, 8, 79);
    border-top: 2px rgb(75, 31, 104) solid;
}