body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

nav {
    position: fixed;
    left: 10px;
}

.tabel {
    display: grid;
    grid-template-columns: 120px 75px 75px 100px;
    grid-auto-rows: 25px;
    justify-content: center;
}

#top-row {
    font-weight: bolder;
    border: 2px solid  rgb(66, 66, 66);
    color: rgb(66, 66, 66);
    background-color: rgb(187, 187, 187);
}

li {
    border: 1px solid  rgb(66, 66, 66);
    color: rgb(120, 120, 120);
    list-style-type: none;
}

ul {
    display: table-row;
}

#bottom-row {
    border: 1px solid  rgb(66, 66, 66);
    border-top-width: 2px;
    color: rgb(120, 120, 120);
}